

	<div id="find-ballot" class="ballot-section">
		<div class="stars"><h2>&#9733;</h2><h1>&#9733;</h1></div>
			<h1 class="sectionheading">Look Up What’s On Your Ballot</h1>
		<div class="stars"><h1>&#9733;</h1><h2>&#9733;</h2></div>

		<div id="enter-address">
		
			<div><input data-bind="value: address" spellcheck="false" type="text" class="find-ballot" placeholder="enter your address here"><a href="#" class="cancel find-ballot-submit">Submit</a></div>
		
		</div><!-- enter address -->
			
		<div id="map">
			<img data-bind="attr: { 'src' : map }">
			<div style="display:none;" class="confirmation" >
				Is this right?<br />
				<a href="#read-ballot" class="fixed-link confirm">Yes</a><a href="" class="cancel clear">No</a>
			</div>
		</div><!-- map -->
		<!-- <a href="#read-ballot" class="fixed-link submit confirm generate">Generate Your Ballot</a> -->

	</div><!-- find-ballot -->

	
	<div id="read-ballot"  style="display:none;" class="ballot-section" data-bind="visible: choices.notEmpty()">
		<div class="stars"><h2>&#9733;</h2><h1>&#9733;</h1></div>
		<h1 class="sectionheading">Here’s What Will Be On Your Ballot</h1>
		<div class="stars"><h1>&#9733;</h1><h2>&#9733;</h2></div>

		<!-- ko foreach: [ballotMeasures] -->
			<div data-bind="visible: $data.visible, attr: {'class' : $data.class }">
				<div class="category-heading">
					<h2 data-bind="text: title"></h2>
					<p data-bind="text: description"></p>
				</div>
				<div class="candidates" data-bind="template: { name: 'choice', foreach: $data.contests }"></div><!-- candidates-->
			</div>
		<!-- /ko -->
		
	</div><!-- read-ballot -->
	<h1 class="sectionheading" style="display:none;" data-bind="visible: !fetch() ">Loading...</h1>

<script id="choice" type="text/html">
	<%=  render 'choice/single' %>
</script>