<div id="page">
	<div id="header" class="clearfix">
		<img src="<%= asset_path 'theballotlogo.gif' %>" id="logo">
		<div id="tagline">GET A SNEAK PEEK AT YOUR BALLOT FOR THE UPCOMING ELECTION</div> <!-- tagline -->			
		</div> <!-- header -->
		
	<div id="instructions-box">
		<div id="instructions">
		<ul>
			<li><a href="#1">1. Find Your Ballot</a></li>
			<li><a href="#2">2. Read Your Ballot</a></li>
			<li><a href="#3">3. Share Your Ballot</a></li>
		</ul>
		</div><!-- instructions -->
	</div><!-- instructions-box -->
	
	<div id="main">
		<div id="find-ballot" class="ballot-section">
			<h1 class="sectionheading"> <span class="stars">&#9733; &#9733; &#9733;</span><a name="1"> Where Do You Vote?</a> <span class="stars">&#9733; &#9733; &#9733;</span></h1>
			<div id="enter-address">
			
				<div class="pointer">
					<img class="pointer-image" src="<%= asset_path 'pointer-full.gif' %>">
					<span class="pointer-text">Where You're Voting</span>
					<div class="pointer-arrow"> &nbsp </div>
				</div><!-- pointer -->
					<input id="address-input" type="text" placeholder="enter your address" data-bind="value: address">
					<div data-bind="visible: geocoded" id="address-tooltip">
						We found this address using your browser<br />
						<span class="cancel">clear your position</span>
					</div>
			
				</div><!-- enter address -->
				
			<div id="map">
				<div class="pointer">
					<img class="pointer-image" src="<%= asset_path 'pointer-full.gif' %>">
					<span class="pointer-text">Look familiar?</span>
					<div class="pointer-arrow"> &nbsp </div>
				</div><!-- pointer -->
				
				<div id="map-embed">
					<img data-bind="attr: { 'src' : map }">
				</div> <!-- map embed -->

			</div><!-- map -->
			
				
			
			
	
		</div><!-- find-ballot -->
	
	
	
	
	
	
		<div role="read-ballot" class="ballot-section">
			<h1 class="sectionheading"> <span class="stars">&#9733; &#9733; &#9733;</span> <a name="2">Here's Your Ballot</a> <span class="stars">&#9733; &#9733; &#9733;</span></h1>
			<div class="ballot-category clearfix" role="federal races">
				<h2 class="category-heading">Federal Races</h2>
				<div class="race-menu">
					<ul>
						<li>President</li>
						<li>Senate</li>
						<li>Congress</li>
					</ul>
				</div><!-- race-menu -->
				<div class="candidates">
					<div class="candidate-row">
						<img class="candidate-photo">
						<img class="candidate-photo">
						<span class="candidate-info">Barack Obama and Joe Biden</span>
					</div><!-- candidate-row -->
				</div><!-- candidates-->
			</div><!-- ballot-category -->
			
			<div class="ballot-category clearfix" role="ballot measures">
				<h2 class="category-heading ballot-measure">Ballot Measures</h2>
				<div class="race-menu ballot-measure-box">
					<ul>
						<li>President</li>
						<li>Senate</li>
						<li>Congress</li>
					</ul>
				</div><!-- race-menu -->
				<div class="ballot-measure-expanded">
					<div class="ballot-measure-row">
							<div class="ballot-measure-explanation">
							Measure 66 would Etiam porta sem malesuada magna mollis eui mod. Sed posuere consectetur est at lobortis.
							</div><!-- ballot-measure-explanation -->
							<div class="yes-no">
								<h1 class="yes-no">YES ON MEASURE 66</h1>
								<p>A yes vote on Measure 66 means Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
								<input type="text" class="comment" />
							</div><!-- yes-no -->
							<div class="yes-no">
								<h1 class="yes-no">NO ON MEASURE 66</h1>
								<p>A no vote on Measure 66 means Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
								<input type="textarea" class="comment" />

							</div><!-- yes-no -->
							
					</div><!-- ballot-measure-row -->
				</div><!-- ballot-measure-expanded-->
			</div><!-- ballot-category -->
		
		
		
		
		
		</div><!-- read-ballot -->

		<div role="share-ballot" class="ballot-section">
			<h1 class="sectionheading"> <span class="stars">&#9733; &#9733; &#9733;</span> <a name="3">Share Your Ballot</a> <span class="stars">&#9733; &#9733; &#9733;</span></h1>
		</div><!-- share-ballot -->
	
	
	
	</div><!-- main -->

</div><!-- page -->

<div id="footer">
<img id="ballot-box" src="<%=asset_path 'ballotbox.png' %>">
</div><!-- footer -->