

	<div id="find-ballot" class="ballot-section">
		<h1 class="sectionheading">Find Your Ballot</h1>
		<div id="enter-address">
		
				<div><input data-bind="value: address" spellcheck="false" type="text" class="find-ballot" placeholder="enter your address here"><a href="#" class="cancel find-ballot-submit">Submit</a></div>
		
		</div><!-- enter address -->
			
		<div id="map">
			<div class="wrapper">
				<img data-bind="attr: { 'src' : map }">
			</div>
			<div style="display:none;" class="confirmation" >
				Is this right?<br />
				<a href="#read-ballot" class="fixed-link confirm">Yes</a> |  <a href="" class="cancel clear">No</a>
			</div>
		</div><!-- map -->
		<!-- <a href="#read-ballot" class="fixed-link submit confirm generate">Generate Your Ballot</a> -->

	</div><!-- find-ballot -->

	
	<div id="read-ballot"  style="display:none;" class="ballot-section" data-bind="visible: choices.notEmpty()">
		<h1 class="sectionheading">Here's Your Ballot</h1>
		<br />

		<!-- ko foreach: [ballotMeasures, federalOffices,stateOffices,localOffices] -->
			<div data-bind="visible: $data.visible, attr: {'class' : $data.class }">
				<div class="candidates" data-bind="template: { name: 'choice', foreach: $data.contests }"></div><!-- candidates-->
			</div>
		<!-- /ko -->
		
	</div><!-- read-ballot -->
	<h1 class="sectionheading" style="display:none;" data-bind="visible: !fetch() ">Loading...</h1>

<script id="choice" type="text/html">
	<%=  render 'choice/single' %>
</script>