<div id="content">
	<h1>The Ballotman Begins</h1>
	<div id="map_canvas"></div>
	<div id="location" data-bind="with: yourLocation">
		<span data-bind="text: position"></span>
		<input data-bind="value: address, visible: !geolocated(), valudeUpdate: 'keyup'" placeholder="enter your address">
		<button data-bind="visible: !geolocated()" >go</button>
		<div id="reps" data-bind="foreach: reps">
			<div class="rep">
				<h3 data-bind="text: fullName"></h3>
				<img data-bind="attr:{src: photo}, fixImage: true" style="width: 115px;"><br />
				<span data-bind="text: office"></span>
			</div>
		</div>
	</div>
</div>