<div id="splash-ballot" class="ballot-section">
	<div class="stars"><h2>&#9733;</h2><h1>&#9733;</h1></div>
		<h1 class="sectionheading">The 100% Social<br />Voter Guide</h1>
	<div class="stars"><h1>&#9733;</h1><h2>&#9733;</h2></div>
	<div class="directions">
		<p>1. Look up which measures and candidates will be on your ballot this election.</p>
		<p>2. See how your friends weigh in on the hottest issues of the day and leave your own comments.</p>
		<p>3. Share your views with the whole wide world.</p>
	</div>
	<div class="login">
		<h1>Get Started</h1>
		<%= link_to (image_tag 'fb-login.png'), omniauth_authorize_path('user', :facebook) %>
		<p>- or -</p>
		<p><%= link_to 'Start Exploring', root_path %></p>
	</div>
</div>