<div id="splash-ballot" class="ballot-section">
	<div class="stars"><h2>&#9733;</h2><h1>&#9733;</h1></div>
		<h1 class="sectionheading">Welcome to Your <br /> 100% Social Voter Guide</h1>
	<div class="stars"><h1>&#9733;</h1><h2>&#9733;</h2></div>
	<div class="directions">
		<p>How to use TheBallot.org</p>
		<ul>
			<li><i class="icon-search"></i> <strong>Research:</strong> Look up which measures and candidates will be on your ballot this election.</li>
			<li><i class="icon-comment"></i> <strong>Discuss:</strong> See how your friends weigh in on the hottest issues of the day and leave your own comments.</li>
			<li><i class="icon-share"></i> <strong>Share:</strong> Create a custom voter guide and personalized badges to share on Facebook, Tumblr and Google+.</li>
		</ul>
	</div>
	<div class="login">
		<h1>Get Started</h1>
		<%= link_to (image_tag 'fb-login.png'), omniauth_authorize_path('user', :facebook) %>
		<p>- or -</p>
		<p><%= link_to 'Start Exploring', root_path %></p>
	</div>
</div>