<h1>Listing user_options</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_options.each do |user_option| %>
  <tr>
    <td><%= link_to 'Show', user_option %></td>
    <td><%= link_to 'Edit', edit_user_option_path(user_option) %></td>
    <td><%= link_to 'Destroy', user_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User option', new_user_option_path %>
