<div id="personal-guide">
	<div id="read-ballot" data-bind="stopBinding: true">
		<% @feedback.each_with_index do |feedback,n| %>

			<div data-bind="with: choices()[<%= n %>]" class="row">
				<%=  render 'choice/'+( feedback.choice.contest_type.index('Ballot').nil? ? 'candidate/profile' : 'measure/profile' ), :choice => feedback.choice, :user => feedback.user %>
			</div>

		<% end %>
	</div>
</div>