
<%- if current_user.nil? %>
	<div class="yourFeedback login">
		<h2>Add a Missing Ballot Measure or Candidate</h2>
		<p>You must be logged in through Facebook to use this feature</p>
		<%= link_to (image_tag 'fb-login.png'), omniauth_authorize_path('user', :facebook)  %>
	</div>
<% else %>
	<%= render :partial => ['choice',params[:type],'newForm'].join('/') %>
<% end %>