<div id="read-ballot">
<!-- ko foreach: choices -->
	<% type = @choice.contest_type.downcase.index('ballot').nil? ? 'candidate' : 'measure' %>
	<%=  render 'choice/'+type, :choice => @choice %>
<!-- /ko -->
</div>