html, body, h1, h2, h3, h4 {
	font-family: 'LeagueGothicRegular', Tahoma, sans-serif;
	text-align:center;
}
p, div {
	font-family: 'Rokkitt', serif;
}
div { .border-box(); }

h1 {
	font-size:2em;
}

h2 {
	text-transform:uppercase;
	font-size:1.8em;
}

a:link, a:active, a:visited, span.link {
	cursor: pointer;
	color: @darkGrey;
	text-decoration: underline;
	&:hover { color: @orange; }
}

strong { font-weight: bold; }
em { font-style: italic; }