@darkGrey: #5b5b5b;

#header {
	text-align:center;
	margin-top:2%;
	margin-right:1.0416667%;

	#logo {
		margin:0;
	}

	.account {
		float: left;
		font-family: 'PT Sans',sans-serif;
		color: @darkGreen;

		height: 120px;
		width: 200px;

		font-size: .8em;
		text-align: left;
		a {
			color: @darkGreen;
			padding: 2px;
			text-align: left;
			&:hover { color:#D37A3C; }
		}
		img {
			width: 80px;
			float: left;
			height: 80px;
			border: 1px solid #556d1b;
			margin-right: 10px;
		}
	}
	
}


