#header {
	text-align:center;
	margin-top:2%;

	#logo {
		margin: 0 auto;
		display: block;
		width: 650px;
		padding-left:103px;
	}

	.account {
		float: left;
		font-family: 'Open Sans',sans-serif;
		color: #3C3A3A;
		width: 206px;
		background: @sideGrey;
		border: 1px solid #727270;
		margin: 0px 0 0px -111px;
		height: auto;
		padding:10px;
		.border-box();
		border-radius:2px;
		font-weight:400;
		font-size: .7em;
		text-align: left;
		a {
			color: #3C3A3A;
			text-align: left;
			text-decoration:none;
			&:hover { 
				color:#D37A3C;
				background-color:white; 
			}
		}
		img {
			width: 80px;
			float: left;
			height: 80px;
			border: 1px solid #556d1b;
			margin-right: 10px;
			border-radius:3px;
			.drop-shadow();
		}
	}
	
}


