#instructions-box {
	width: 206px;
	position:fixed;
	left:auto;
	top: 10px;
	margin-left: -54px;
	&.top {
		top: 200px;
		position: absolute;
	}
	#instructions {
		background: #636363 img-url('menu-bg.gif') top left repeat;
		color:white;
		padding:0px;
		height:auto;
		text-align:left;
		font-size: 1.44em;
		border-color: transparent #000 #000;
		border-width: 1px;
		border-style: solid;
		img.menutop {
			margin: -64px 0 0.72em -1px;
		}
		ul li:first-child a { border-top: none; }
		ul li:last-child a { border-bottom: none; }
		ul li a { 
			border-top: 1px solid #272727;
			border-bottom: 1px solid #706868;
		}
		ul {
			list-style-type:none;
			margin-top: -26px;
		}
		a {
			display:block;
			padding:11px;
		}
	}
}






