#instructions-box {
	width: 206px;
	position:fixed;
	left:auto;
	top: 10px;
	margin-left: -111px;
	z-index: 50;
	&.top {
		top: 200px;
		position: absolute;
	}
	#instructions {
		background: @sideGrey;
		color:#3C3A3A;
		padding:0px;
		height:auto;
		text-align:left;
		border-color: #727270;
		border-width: 1px;
		border-style: solid;
		border-radius: 2px;
		img.menutop {
			margin: -64px 0 0.72em -1px;
			display:none;
		}

		ul {
			list-style-type:none;
			li {
				a.main, a.small {
					border-top:1px solid #bebebe;
					border-bottom: 1px solid #8c8282;
					text-align:center;
					display:block;
					text-decoration:none;
					color:#3c3A3a;
					padding:11px;
					&:hover { .inner-shadow(); .drop-shadow(); }
				}
			}
		}
		a {
			text-decoration: none;
			color: @darkerGrey;
			&:hover {
				color:white;
			}
		}
		li {
			div.container { 
				padding: 12px;
				color:@darkerGrey;
				font-weight:600;
			}
			&:last-child a { border-bottom: none; }
			&:first-child a { border-top: none; }
			div.container { padding: 12px; }
			a.small {
				border:none !important;
				font-size:14px;
				padding:0;
				line-height: 16px;
				
				&:hover { box-shadow:none !important; color:white !important; }
			}
	
			div.menu-inner { 
				color: #303030;
				background: #dadada; 
				font-size:15px;
				border-bottom:1px solid #8c8282;
				.inner-shadow();
				p:last-child, div:last-child { margin-bottom: 0;}
				p {
					padding: 10px;
					font-size:13px;
					line-height:18px;
				}
				.arrow { 
					display:none;
					margin: 0 auto -13px;
					height: 0;
					width: 0;
					border-color: #727270 transparent transparent;
					border-style: solid;
					border-width: 8px;
					padding: 0;
				}
				ul {
					margin-top: 10px;
					li {
						font-weight: bold;
						margin: 10px 10px 0;
						font-size: 18px;
					}
					ul {
						margin-top: 10px;
						li {
							font-weight: normal;
							font-size: 13px;
							margin: 0 0 10px 10px;
							a {
								&.active { color: @orange; }
								&.done { 
									.opacity(.6);
									&::before {
										content: "\2713";
										font-size: 8px;
										float: left;
										margin-left: -10px;
									}
								}
								&:hover {  }
							}
						}
					}
				}
				
			}
			&:hover {
				div.menu-inner {
					.arrow { border-color: #727270 transparent transparent; }
				}
			}
			.share-container {
				border-bottom: 1px solid #706868;
				text-align:center;
				color: #3C3A3A;
				
			}
		}
	}
}
