html {
	padding:0;
	/* for W3C-compliant browsers */
	margin: 0;
}

body {
	height: 100%;
	padding: 40px 0 0;
	margin:0;
}

#container {
	height: 100%;
	width:90%;
	max-width:960px;
	clear:both;
	margin:0 auto;
}

#page {
	padding: 10px;
	width:936px;
	height:100%;
}