@memeHeight: 700px; @memeWidth: 800px;

#meme-cova {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: rgba(33,33,33,.8);
	display: none;
}
#meme-tainer {
	display: none;
	position: fixed;
	width: @memeWidth - 16px;
	height: @memeHeight - 8px;
	z-index: 100;
	top: 20px !important;
	.box-shadow(5px,0,80px,rgba(0,0,0,.5));
	padding: 0;
	margin: 0 0 0 5%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	.close {
		position: absolute;
		right: -18px;
		color: white;
		width: 26px;
		padding: 6px 0 4px;
		border-radius: 4px;
		top: -18px;
		cursor: pointer;
		font-size: 20px;
		&.close:hover {
			color: darken(white, 20%);
		}
	}
	iframe {
		width: @memeWidth;
		height: @memeHeight;
		overflow: hidden;
		margin: -8px 0 0 -8px;
	}
	.gradient(lighten(@badge,10%), @badge);
	.border-radius(5px);
}
#meme {
	strong { font-weight: bold;}
	font-size: 16px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	/* background: @badge image-url('share-arrows.png') 79% 59% no-repeat; */
	.gradient(lighten(@badge,10%), @badge);
	.border-radius(5px);
	border:1px solid darken(@badge, 20%);
	padding: 20px 30px 20px;
	color: white;
	height: @memeHeight;
	p { margin: 0 0 4px; color: white; font-size: 13px; }
	h1 {
		font-family: 'Open Sans', sans-serif;
		font-size: 34px;
		color: white;
		border-top: 1px dotted white;
		border-bottom: 1px dotted white;
		padding:15px 0px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 13px;
		text-align: center;

	}
	h2 {
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		color: white;
		font-weight: 700;
		letter-spacing: 0px;
		margin: 10px 0 4px;
		text-align: left;
	}
	.choose {
		width: 340px;
		float: left;
		&::after {
			content: "\f078";
			font-family:"FontAwesome";
			float: right;
			font-size: 80px;
			margin: 0px -55px 0 0;
			color: white;
		}
		textarea { 
			font-family: 'Open Sans', sans-serif;
			color: @grey;
			border: 1px solid rgba(0,0,0,.3);
			font-size: 16px;
			padding: 12px 12px 30px; 
			display: block;
			resize: none;
			width: 320px;
			background: #fff;
			height: 146px;
			margin-top:12px;
			border-radius:4px;
		}
		.up {
			margin: -22px 0 0 2px;
			font-size: 14px;
			background: white;
			text-align: right;
			width: 280px;
			color: @grey;
			position: relative;
			span { width: 60px; }
		}
	}

	.theme {
		float: right;
		width: 340px;
		margin-right: -20px;
		.pick  { 
			width: 330px;
			margin-top: 10px;
			div {
				background-image: image-url('new/thumbs.jpg');
				background-color: transparent;
				background-repeat: no-repeat;
				width:70px; 
				margin: 0 8px 8px 0; 
				float: left; 
				height: 70px; 
				cursor: pointer;
				.drop-shadow(0px, 1px, 5px, 1px, .5);
				&.selected {  
					.inner-shadow(0px, 1px, 5px, 0, .8); 
				}
				&:nth-child(1) { background-position: 0 0; }
				&:nth-child(2) { background-position: -70px 0; }
				&:nth-child(3) { background-position: -140px 0; }
				&:nth-child(4) { background-position: -210px 0; }
				&:nth-child(5) { background-position: -280px 0; }
				&:nth-child(6) { background-position: -350px 0; }
				&:nth-child(7) {
					background-size: cover;
				}
			}
		}
	}
	.matt { 
		@size: 160px;
		width: @size;
		clear: both;
		margin: 260px auto 0;
		.box-shadow(0px,1px,9px,#000);
		.preview { 
			background-size: cover; 
			font-size: 22px;
			width: @size;
			height: @size;
			padding: 0;
			color: white;
			text-shadow: 5px 2px 3px #000;
			clear: both;
			box-shadow: 0px 0px 6px #ccc;
			img {
				width: @size;
				height: @size;
			}
		}
		.preview-load {
			position: absolute;
			right: 30px;
			color:@darkGrey;
			bottom: 70px;
			background-color:rgba(255,255,255,.5);
			padding:5px;
			border-radius:10px;
		}
		position: relative;
		.kill {
			color:white;
			cursor: pointer;
			background: none;
			position: absolute;
			right: -20px;
			bottom: 0px;
			&:hover {
				box-shadow: 0px 0px 2px rgba(0,0,0,.5);
			}
		}
	}
	.sharea {
		@width: 232px;
		clear: left;
		width: @width;
		height: 140px;
		margin: 20px auto 0;
		text-align: center;
		h2 { text-align: center; }
		button.share {
			.orangeButton();
			text-align:center;
			cursor: pointer;
			margin-top: 0px;
			width:@width;
		}
		.share-inner {
			padding:10px;
			a {
				cursor: pointer;
				margin: 0 4px;
				img {
					.opacity(.95);
					width: 30px;
					&:hover { .opacity(1); }
				}
			}
			width: @width;
			display: block;
			height: 54px;
			border: 1px solid lighten(@badge, 5%);
			border-radius:5px 5px 0 0;
			margin: 0px auto 0px;
			.inner-shadow(0px, -2px, 5px, 0.5);
			.gradient(darken(@badge,20%),darken(@badge,10%));
			
			.social-icons { 
				border-radius:3px;
				padding: 8px 6px 3px;
				color: white;
				font-size: 20px;
				display: block;
				width: 20px;
				float: left;
				box-shadow:rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
			}
			
			.facebook { 
				background-color:#3c5d96;
				border:1px solid darken(#3c5d96,20%)
			}

			.twitter {
				background-color: #45b9f1;
				border:1px solid darken(#45b9f1,20%)
			}

			.tumblr {
				background-color: #3c5872;
				border:1px solid darken(#3c5872,20%);
				
				img {
					width:13px;
				}
			}

			.googleplus { 
				background-color: #b73425; 
				border:1px solid darken(#b73425,20%)
			}
			
			.pinterest { 
				background-color: #c74e45; 
				border:1px solid darken(#c74e45,20%)
			}
		}
		&.unsaved {
			.share-inner { display: none; }
			button.share { .orangeButton(); }
		}
	}

}