@import 'less/vars.less';

body.not_logged_in {
	.body div.commentTitle { border-top: @darkGrey 1px solid; }
	#header .account a img {
		width: 147px;
		height: auto;
		border: none;
		margin-top: 30px;
	}
}