#profile {
	position: relative;
	margin-bottom:100px;
	
	input, textarea {
		width: 400px;
		display: block;
		margin: 10px auto;
	}
	input { font-size: 24px; color: @orange; font-weight: bold; }
	textarea { font-size: 16px; color: @grey; height: 60px; }
	
	.stars {
		position: absolute;
		top: 0;
		right: 10px;
		float: none;
		margin: 0;
		width: 60px;
		&:first-child { left: 0; }
	}
	.flag {
		float: right;
		margin: -20px 10px 0 0;
		font-size: 12px;
	}

	h1 {
		padding-bottom:5px !important;
	}
	
	.category-heading p {
		margin-bottom:10px;
	}
	
	#edit-profile {
		text-align:right;
		margin-bottom:20px;
		color:@grey;
		
		.status {
			margin: 0px 0;
			float:right;
		}
		
		a {
			cursor:pointer;
			font-size:14px;
		
			&:hover {color:@orange;}
		}
	
		a.cancel {
			font-size: 14px;
			color:@grey;
		}
	}
	
}

#personal-guide {
	
	#read-ballot {
			
		.row {
			margin: 10px auto;
			.clearfix();
			&:first-child { margin-top:-75px; }
			hr.button{ display:none !important;	}
			
			h1.no { 
				color:@red; 
				
				&::before {
					content: '\f088   ';
					font-family:'FontAwesome';
				}
			
			}
			h1.yes { 
				color: @green; 
				
				&::before {
					content: '\f087   ';
					font-family:'FontAwesome';
				}				
			}
			
			.explanation {
				margin-bottom:0px !important;
			}
			
			.voted {
				margin-bottom:20px;
			}
						
			.matchup, .voted { display: none }
			
			.profile-text {
				float:left;
				font-size:18px;
				margin-top:10px;
				letter-spacing:0;
			}
		
			.profile-explanation {
				.clearfix();
				display:block;
				margin-bottom:20px;
				
				.optionholder { 
					float:right;
					width:66%;
					margin-top:10px;
					font-size:18px;
					padding:0 10px 10px 10px;
					text-align:left;
					font-weight:400px;
					
					
					.option {
						
						&:first-child {
							color:@green !important;
							margin-left:-14px;
							
							&::before {
								content: "\2713";
								position:relative;
								left:-4px;
																							
							}
						}
					}

				}
				
				.explanation {
					width:66%;
					text-align:left;
					padding:10px 10px 10px 10px;
					float:right;
				}
			
			}
			
			.profile-comment {
				.clearfix();
				display:block;
			
				p {
					width:66%;
					float:right;
					background-color:white;
					padding:10px;
					text-align:left;
					.border-box();
					.border-radius();
					.drop-shadow();
				
					&::before {
						content: '';
						float: left;
						margin: 30px 0px 0 -50px;
						width: 0;
						height: 0;
						border-width: 20px;
						border-style: solid;
						border-color:white;
						border-top:20px solid transparent;
						border-bottom:20px solid transparent;
						border-left:20px solid transparent;
					}
				}
			
				.head {
					float:left;
					clear:left;
					margin:10px 0;
					.border-radius();
				}
			
				.yourFeedback {
					margin:-35px auto 0px 0px;
				}
			}
	
			.controls {
				margin:10px;
				font-size:10px;
				text-align:right;
			
			}
		
			.footer {
				margin:0 auto;
				background-image:none;
				border-bottom:1px solid @grey;
			}
		
	
		}
	
	}
	
	}
}