.colorpicker {
	background-color:white;
	.drop-shadow();
	padding:6px;
}

#profile {
	position: relative;
	margin-bottom:100px;
	
	textarea { font-size: 16px; color: @grey; height: 60px; }
	
	
	.flag {
		float: right;
		margin: -20px 10px 0 0;
		font-size: 12px;
	}

	h1 {
		padding-bottom:5px !important;
	}
	
	.category-heading p {
		margin-bottom:10px;
	}
	
	#edit-profile {
		text-align:left;
		margin-bottom:20px;
		color:@grey;
		width:100%;
		background-color:darken(@bgGrey,10%);
		border:1px solid darken(@bgGrey,20%);
		padding:15px 30px;
		.border-radius(5px);
		.clearfix;
		.inner-shadow();
		
		
		.editor { .clearfix; }
		
		.status {
			margin: 0px 0;
			float:right;
			
				.link {
					color:@darkGrey;

					&:hover { color: @orange; }
				}
		}
		
		.link {
			color:@darkGrey;
			
			&:hover { color: @orange; }
		}
		
		h3 {
			text-align:center;
			font-weight:700;
			text-transform:uppercase;
			.inset-text();
		}
		
		.label {
			display:inline-block;
			float:left;
			text-align:right;
			margin-right:30px;
			width:33%;
			color:darken(@darkGrey,30%);
		}
		
		.small-label {
			font-size:12px;
			text-align:left;
		}
		
		input, textarea { 
			width:60%;
			font-size:16px;
			display:inline-block;
			margin:0px 0px 10px 0px;
			.border-radius(4px);
			padding:5px;
			.border-box();
			.inner-shadow();
			outline:none;
			border:1px solid darken(@bgGrey,20%);
			color:@darkGrey;
			
			&.url {
				width:130px;
				margin-bottom:40px;
			}
		}
		
		.url-searching {
			display:inline-block;
			padding:6px 12px 6px 6px;
			background-color:white;
			.border-radius(5px);
			.drop-shadow();
			margin-left:10px;
			font-size:12px;
			
			&:before {
				content:"\f0d9";
				font-family:"FontAwesome";
				position:relative;
				left:-10px;
				font-size:18px;
				color:white;
			}
		}
		
		.url-available {
			display:inline-block;
			padding:6px 12px 6px 6px;
			background-color:@green;
			color:white;
			.border-radius(5px);
			.drop-shadow();
			margin-left:10px;
			font-size:12px;
			
			&:before {
				content:"\f0d9";
				font-family:"FontAwesome";
				position:relative;
				left:-10px;
				font-size:18px;
				color:@green;
			}
		}
		
		.url-taken {
			display:inline-block;
			padding:6px 12px 6px 6px;
			background-color:@red;
			color:white;
			.border-radius(5px);
			.drop-shadow();
			margin-left:10px;
			font-size:12px;
			
			&:before {
				content:"\f0d9";
				font-family:"FontAwesome";
				position:relative;
				left:-10px;
				font-size:18px;
				color:@red;
			}
		}
		
		a {
			cursor:pointer;
			font-size:14px;
		
			&:hover {color:@orange;}
		}
	
		a.cancel {
			font-size: 14px;
			color:@grey;
		}
		
		#image-upload {
			width:60%;
			float:left;
			text-align:left;
			margin: 30px 0px;
			
			input {
				display:block;
				border:none;
				box-shadow:none;
				margin-bottom:0;
			}
				
		}
		
		
		#save-cancel {
			text-align:right;
			display:inline-block;
			float:right;
		}
	}
	
}

#personal-guide {
	
	#read-ballot {
			
		.row {
			margin: 10px auto;
			.clearfix();
			&:first-child { margin-top:-75px; }
			hr.button{ display:none !important;	}
			
			h1.no { 
				color:@red; 
				
				&::before {
					content: '\f088   ';
					font-family:'FontAwesome';
				}
			
			}
			h1.yes { 
				color: @green; 
				
				&::before {
					content: '\f087   ';
					font-family:'FontAwesome';
				}				
			}
			
			.explanation {
				margin-bottom:0px !important;
			}
			
			.voted {
				margin-bottom:20px;
			}
						
			.matchup, .voted { display: none }
			
			.profile-text {
				float:left;
				font-size:18px;
				margin-top:10px;
				letter-spacing:0;
			}
		
			.profile-explanation {
				.clearfix();
				display:block;
				margin-bottom:20px;
				
				.optionholder { 
					float:right;
					width:66%;
					margin-top:10px;
					font-size:18px;
					padding:0 10px 10px 10px;
					text-align:left;
					font-weight:400px;
					
					
					&.your-option .option {
						
						&:first-child {
							color:@green;
							margin-left:-20px;
							
							&::before {
								content: '\f087   ';
								font-family:'FontAwesome';
								position:relative;
								left:-4px;
																							
							}
						}
					}

				}
				
				.explanation {
					width:66%;
					text-align:left;
					padding:10px 10px 10px 10px;
					float:right;
				}
			
			}
			
			.profile-comment {
				.clearfix();
				display:block;
			
				p {
					width:66%;
					float:right;
					background-color:white;
					padding:10px;
					margin-top:10px;
					text-align:left;
					.border-box();
					.border-radius();
					.drop-shadow();
				
					&::before {
						content: '';
						float: left;
						margin: 30px 0px 0 -50px;
						width: 0;
						height: 0;
						border-width: 20px;
						border-style: solid;
						border-color:white;
						border-top:20px solid transparent;
						border-bottom:20px solid transparent;
						border-left:20px solid transparent;
					}
				}
			
				.head {
					float:left;
					clear:left;
					margin:10px 0 0 50px;
					
					img {
						.border-radius(5px);
						.drop-shadow();
					}
				}
			
				.yourFeedback {
					margin:-35px auto 0px 0px;
				}
			}
	
			.controls {
				margin:10px;
				font-size:10px;
				text-align:right;
			
			}
		
			.footer {
				margin:0 auto;
				background-image:none;
				border-bottom:1px solid @grey;
			}
		
	
		}
	
	}
	
	}
}