@darkGreen: #5a663e;
@lightGreen: #99C337;

@brightOrange: #bf4e00;
@orange: #D37A3C;
@darkOrange: #9e5320;

@grey: #919191;
@darkGrey: #5b5b5b;
@red: #b13b38;
@green: #8eb237;
@bgGreen: #98B84A;

.greyButton() {
	.gradient(#666,#4b4b4b);
	.drop-shadow();
	&:hover {
		color:white;
		.gradient(#4b4b4b,#666);
	}
	border: 1px solid #3f3f3f;
	color: white;
}