<style>
      #guide #profile {margin: 50px;}
      #guide #edit-profile {max-width: 820px !important}
      #guide #edit-profile a {color: #ffffff;}
      #guide #profile #edit-profile #image-upload {width: 100%;}
      #guide .ballot-section {width: 840px; float: left; margin: 40px auto 20px;}
      #guide .ballot-section.half {width: 420px;}
      #guide .ballot-section .sectionheading {font-size: 16px;}
      #guide .ballot-section .sectionheading a {color: #ffffff;}
      #guide .ballot-section .sectionheading:before {content: "";}
      #guide .input {float: left; text-align: left; width: 60%;}
      #guide .blurb {float: right; text-align: left; width: 60%; margin-right: 20px; font-size: 14px;}
      #guide input[type="text"], #guide select, #guide textarea {width: 60%; font-size: 16px; display: inline-block; margin: 0px 0px 10px 0px; border-radius: 4px; background-clip: padding-box; padding: 5px; outline: none; box-shadow: inset 0 0px 4px 0 rgba(0, 0, 0, 0.25); border: 1px solid #c2c2b5; color: #5b5b5b;}
      #guide input[type="checkbox"] {width: auto !important;}
      #guide label {display: inline-block; float: left; text-align: right; margin-right: 30px; width: 33%; color: #ffffff;}
      #guide input[type="submit"] {margin: 0px auto !important;} 
      #guide select {margin-left: 7px;}
      #guide .mce-tinymce {margin-top: 10px;}
      #guide .comments {width: 90%; margin: 0px auto;}
      #guide td {padding: 10px;}
</style>

<script>
  typename = false;

  jQuery(document).ready(function() {
    reset();
  });

  jQuery('select[name="state"]').change(function() {
    disable_contests();
    enable_contest($(this).val());
    submit_toggle();
  });

  jQuery('select[name="contest_id"]').change(function() {
    disable_options();
    enable_option($(this).val());
    submit_toggle();
  });

  jQuery('select[name="option_id"]').change(function() {
    submit_toggle();
  });

  function reset() {
    jQuery('select[name="state"]').val(0);
    enable_type();
    disable_basics();
    disable_options(); 
    disable_contests();
    disable_measures();
    disable_blurbs();
  }

  function type(the_typename) {
    typename = the_typename

    disable_type();
    enable_basics();
    if (typename != 'html') {
      enable_state();
    } else {
      enable_title();
    }
  }

  function disable_type() {
    jQuery('.swap').hide();
  }

  function enable_type() {
    jQuery('.swap').show();
    typename = false;
  }

  function disable_basics() {
    jQuery('.title').hide();
    jQuery('.title input').attr('disabled', 'disabled');
    jQuery('.states').hide();
    jQuery('.states select').attr('disabled', 'disabled');
    jQuery('.comments').hide();
    jQuery('.comments input').attr('disabled', 'disabled');
    jQuery('.submit').hide();
    jQuery('.submit input').attr('disabled', 'disabled');
  }

  function disable_contests() {
    jQuery('.contest_select').hide();
    jQuery('.contest_select select').attr('disabled', 'disabled');
  }

  function disable_measures() {
    jQuery('.measure_select').hide();
    jQuery('.measure_select select').attr('disabled', 'disabled');
  }

  function disable_blurbs() {
    jQuery('#blurb').hide();
  }

  function disable_options() {
    jQuery('.option_select').hide();
    jQuery('.option_select select').attr('disabled', 'disabled');
    jQuery('.custom_option').hide();
    jQuery('.custom_option input').attr('disabled', 'disabled');
    writein_control();
  }

  function enable_blurb(contest_options, about) {
    jQuery('#blurb').html('');
    html = '<table style="height: 0px; margin: 0 40px; text-align: left; color: #5b5b5b; background: #fff;" cellspacing="10" class="hidden"><tbody>';
        for(i = 0; i < contest_options.length; i++) {
          color = 'red';
          if (contest_options[i].name == 'Yes') color = 'green';
          html += '<tr><td style="color: ' + color + '; background: #fff;">' + contest_options[i].name + ':</td>';
            html += '<td>' + contest_options[i].blurb + '</td></tr>';
        }
    html += '</tbody></tr></table>';
    jQuery('#blurb').append(html).show();
  }

  function writein_control() {
    if(typename == 'contest') {
      jQuery('.writein').show().css('display', 'block');
    } else {
      jQuery('.writein').hide().css('display', 'none');
    }
  }

  function enable_contest(state) {
    jQuery('select[name="contest_id"]').html('').append('<option value=0><%= t("guide.select_contest") %></option>');      
    contest_keys = get_keys(contests);
    contest_options = [];

    for(i = 0; i < contest_keys.length; i++) {
      if((contests[contest_keys[i]]['state'] == state) && (contests[contest_keys[i]]['type'] == typename)) contest_options.push(contests[contest_keys[i]]);
    }
    for(i = 0; i < contest_options.length; i++) {
      jQuery('select[name="contest_id"]').append('<option value="' + contest_options[i]['id'] + '">' + contest_options[i]['title'] + '</option>');
    }

    jQuery('.contest_select').show();
    jQuery('select[name="contest_id"]').removeAttr('disabled');
  }


  function enable_option(contest_id) {
    jQuery('select[name="option_id"]').html('').append('<option value=0><%= t("guide.select_option") %></option>');;
    option_keys = get_keys(options);
    options_options = [];

    for(i = 0; i < option_keys.length; i++) {
      if(options[option_keys[i]]['contest_id'] == contest_id) options_options.push(options[option_keys[i]]);
    }
    for(i = 0; i < options_options.length; i++) {
      jQuery('select[name="option_id"]').append('<option value="' + options_options[i]['id'] + '">' + options_options[i]['name'] + '</option>');
    }

    jQuery('.option_select').show();
    jQuery('select[name="option_id"]').removeAttr('disabled');

    if (typename == 'contest') {
      writein_control();
    } else if (typename == 'measure') {
      enable_blurb(options_options);
    }
  }

  function enable_state() {
    jQuery('select[name="state"]').html('').append('<option value=0><%= t("guide.select_state") %></option>');      
    contest_keys = get_keys(contests);
    states = [];
    for(i = 0; i < contest_keys.length; i++) {
      if((!is_included(states, contests[contest_keys[i]]['state'])) && (contests[contest_keys[i]]['type'] == typename)) states.push(contests[contest_keys[i]]['state']);
    }
    states.sort();
    for(i = 0; i < states.length; i++) {
      jQuery('.states select').append('<option value="' + states[i] + '">' + states[i] + '</option>');
    }
    jQuery('.states').show();
    jQuery('.states select').removeAttr('disabled');
  }

  function enable_title() {
    jQuery('.title').show();
    jQuery('.title input').removeAttr('disabled');
  }

  function enable_basics() {
    jQuery('.comments').show();
    jQuery('.comments input').removeAttr('disabled');
    jQuery('.submit').show();
  }

  function submit_toggle() {
    if((jQuery('select[name="option_id"]').val() == 0) || (jQuery('select[name="option_id"]').html() == '')) {
      jQuery('.submit input').attr('disabled', 'disabled');
    } else {
      jQuery('.submit input').removeAttr('disabled');
    }
  }

  function writein() {
    disable_options();
    jQuery('.custom_option').show();
    jQuery('.custom_option input').removeAttr('disabled');
  }

  function is_included(arr, obj) {
    return (arr.indexOf(obj) != -1);
  }

  function get_keys(dictionary) {
    var keys = [];
    for (var key in dictionary) {
      if (dictionary.hasOwnProperty(key)) {
        keys.push(key);
      }
    }
    return keys;
  }

  function expand(id) {
    if(jQuery('#measure-'+id).hasClass('hidden')) {
      jQuery('#measure-'+id).animate(500).removeClass('hidden');
    } else {
      jQuery('#measure-'+id).animate(500).addClass('hidden');
    }
  }

  tinyMCE.init({mode : "textareas", menubar: false, theme: 'modern', skin: 'light'});
</script>
