function makeShare(url,name,msg,image) {
	var url = url || document.location.host, msg = msg || '', name = name || 'The Ballot | Your Social Voter Guide'
	url = document.location.protocol+'//'+url.replace(/http:\/\//g,'')
	string = '<div id="share-box" class="'+(navigator.appVersion.indexOf("Mac")!==-1 ? 'osx' : '')+'"><input onblur="$(this).parent().removeClass(\'on\')" onclick="$(this).select().parent().addClass(\'on\')" onkeypress="return false" class="link" value="'+url+'" type="text" >'
	string += '<object onmouseout="$(this).css({width: \'14px\'}).prevAll(\'input\').css({ color: \'\'});" onmouseover="$(this).css({ width: \'\'}).prevAll(\'input\').blur().css({ color: \'transparent\'});" style="float: left;margin-top: -19px;margin-left: 6px;width: 14px;overflow: hidden;" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"width="110"height="14"id="clippy" ><param name="movie" value="<%= asset_path('clippy.swf') %>"/><param name="allowScriptAccess" value="always" /><param name="quality" value="high" /><param name="scale" value="noscale" /><param NAME="FlashVars" value="text='+url+'"><param name="bgcolor" value="#DADADA"><embed src="<%= asset_path('clippy.swf') %>" width="110" height="14" name="clippy" quality="high" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="text='+url+'" bgcolor="#DADADA" /></object>'
	string += '<div class="icons">'
	string += '<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u='+escape(url)+'" class="fbook"><div></div></a>'
	string += '<a target="_blank" href="https://twitter.com/intent/tweet?&source=tweetbutton&text='+msg+'&url='+escape(url)+'" class="twitter"><div></div></a>'
	// More twitter terms &hashtags=&via=&related=
	if( image ) string += '<a target="_blank" href="http://www.tumblr.com/share/photo?url='+escape(url)+'&caption='+escape(name)+'" class="tumblr"><div></div></a>'
	else string += '<a target="_blank" href="http://www.tumblr.com/share/link?url='+escape(url)+'&name='+name+'&description='+msg+'" class="tumblr"><div></div></a>'
	string += '<a target="_blank" href="https://plus.google.com/share?url='+url+'" class="googleplus"><div></div></a>'
	string += '</div></div>'
	return string
}
