// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#content {
	height: 600px;
	width: 300;
	margin: 0 auto;
}
#map_canvas {
  width: 300px;
  height: 400px;
}
#location, h1 {
	width: 300px;
}
#map_canvas, #location, h1 {
  margin: 0 auto;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}