/* Mobile stylesheet, served to mobile devices using mobile_fu plugin */

@import 'less/mixins.less';
@import 'less/vars.less';

/* structure */

.account, #instructions-box {
  display: none;
}

#container, #page, #header, #main, #find-ballot, .ballot-section, #enter-address, #enter-address div, #map, #read-ballot, #read-ballot .row, .category-heading, #footer {
  width: 320px;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

body.home { 
	background: #dbe8b8 image-url('iOS/bg_2x.jpg') no-repeat fixed; 
	-moz-background-size: 320px auto; 
	background-size: 320px auto; 
	background-position: 0 0;
}

#container {
  padding-top: 0;
}

#page {
  background: none;
  padding: 0;
  border: none;
}

#main {
  margin-top: 0;
  padding-bottom: 60px;
}

#header {
  background-color: @bgGrey;
  margin: 0;
  height: 72px;
  border-bottom: 1px solid @grey;
  img {
    width: 200px !important;
    margin-top: 14px;
  }
  #mobile_nav {
    li {
      width: 47px;
      position: absolute;
      top: 0;
      height: 70px;
      text-align: center;
      a {
        display: block;
        width: 47px;
        height: 48px;
        padding-top: 20px;
        font-size: 8px;
        color: transparent;
        text-shadow: none;
        &:before {
          display: block;
          font-size: 32px;
          font-family:'FontAwesome'; 
        }
      }
      &#mobile_home_link {
        left: 0;
        border-right: 1px solid @grey;
        a {
          &:before {
            color: @orange;
            content: '\f015';
          }
        }
      }
      &#mobile_menu_link {
        left: 271px;
        border-left: 1px solid @grey;
        a {
          &:before {
            color: @green;
            content: '\f00b';
          }
        }
      }
    }
  }
}

.ballot-section {
  .sectionheading {
    font-size: 18px;
    &:before {
  		bottom:-13px;
  	}
  }
  .category-heading {
    h2 {
      font-size: 20px;
      letter-spacing: 2px;
    }
    p {
      display: none;
    }
  }
}

#find-ballot {
  #enter-address {
    .find-ballot {
      width: 254px;
      .border-radius(2px 0px 0px 2px);
    }
    a.find-ballot-submit {
      width: 24px;
      overflow: hidden;
      color: transparent;
      text-shadow:none;
      &:before {
    		content: "Go";
    		text-indent: 0;
    		color: white;
    		text-shadow: 0px 1px 1px darken(@accent,10%);
    	}
    }
    .remember {
      margin-left: 10px;
    }
  }
  #map {
    img {
      width: 300px;
      margin: 0;
      &.located {
  			margin: 0;
  		}
    }
  }
}

#read-ballot {
  .row {
    margin-bottom: 16px;
    hr, .voted { display: none; }
    .geography {
      font-weight: normal;
    }
    h1.title {
      font-size: 20px;
      width: 100%;
    }
    .matchup {
      margin-top: 0;
    }
    .explanation {
      padding-top: 0;
    }
    button.open {
      margin-bottom: 12px;
    }
  }
  .candidate, .measure {
    background-color: @bgGrey;
    border: 1px solid @grey;
    border-left: none;
    border-right: none;
  }
}

#more-coming {
  width: 300px;
  margin: 0 auto;
  padding: 10px 0;
  .category-heading {
    width: 100%;
    padding: 0 10px;
    img { width: 254px !important; }
  }
  h1 {
    margin-bottom: 10px;
  }
  p {
    display: block;
    width: 100%;
  }
}

#footer {
  width: 320px;
  min-width: 320px;
  padding: 10px;
}