body.no-script .yourFeedback.no-user,
body.no-script .controls, 
body.no-script .faces, 
body.no-script .yourFeedback,
body.no-script ul.feedback,
body.no-script .head,
body.no-script .footer,
body.no-script .foot,
body.no-script .commentTitle, 
body.no-script.logged_in .row.candidate hr.lower.middle,
body.no-script .no-comment {
	display: none !important;
}
body.no-script .yourFeedback.login {
	display: block !important;
	padding: 20px 0 !important;
	border-top: none !important;
}
body.no-script .row .body {
	padding-bottom: 20px !important;
}
body.no-script .row hr.lower {
	margin-top: 20px !important;
}
body.no-script.profile .yourFeedback.login {
	display: none !important;
}
body.no-script.profile .yourFeedback.has_user {
	display: block !important;
	margin-top: 20px !important;
}


body.no-script .yourFeedback.has_user, body.no-script .row .body { display: block }
body.no-script .row .optionholder { float: left; width: 300px !important; }
body.no-script .row .optionholder:first-child { float: left; width: 300px !important; }
body.no-script div.row.measure .body .optionholder .option { border-right: 1px solid #5B5B5B; }

body.no-script .row .optionholder .option { border: 0; width: 100% !important; border-right: none; }
body.no-script .row .optionholder.clean-no-script .option { border: 0; width: 100% !important; border-right: none  !important; }

body.no-script .row.candidate .optionholder { float: none; width: 600px !important; overflow-y: visible !important; margin: 0 auto; }
body.no-script .row.candidate .optionholder:first-child .option { float: left; border-right: none !important; }
