body.no-script .controls, body.no-script .faces, body.no-script .yourFeedback, body.no-script .feedback, body.no-script .commentTitle, body.no-script .no-comment {
	display: none;
}
body.no-script .account { margin-top: 56px; }
body.no-script .yourFeedback.has_user, body.no-script .row .body { display: block }
body.no-script .row .optionholder { float: left; width: 300px; }
body.no-script .row .optionholder:first { float: left; width: 300px; }
body.no-script .row .optionholder .option { border: 0; width: 100%; }
