@page { margin: 0.5cm; }

.body .commentTitle, .body .footer, ul.feedback, #profile span, #edit-profile, .profile-comment img, .controls, .yourFeedback.has_user h1, .yourFeedback.has_user .controls, .yourFeedback.has_user img, .yourFeedback.has_user h3, .full-text, .yourFeedback, .candidate .matchup, #meme-tainer, .login, .smaller, .faces, .voted, button, hr, .top-guides, #more-coming, #footer, #instructions, .account { display: none !important }

#find-ballot, #header { text-align: center; }
#header img { width: 500px; margin: 0 auto; }

p, div, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 98%;
	color: black;
}
body {
	width: 96%;
	margin: 0 auto;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

/* Front Page */
#find-ballot #enter-address .find-ballot {
	width: 100%;
	border: none;
	font-size: 30px;
	text-align: center;
}
#find-ballot #enter-address .remember, #find-ballot #enter-address .find-ballot-submit {
	display: none;
}

.body { display: block !important; }

/* General style tweaks */

.category-heading {
	text-align: center;
	border-top: 2px dashed #ddd;
	margin: 20px 0 0;
	border-bottom: 2px dashed #ddd;
}

.candidate .option, .optionholder { 
	margin: 4px;
	padding: 0 10px;
}
.option, .optionholder { 
	display: inline-block;
	vertical-align: top;
}
.measure .option { 
	width: 30%;
	margin: 4px;
	padding: 4px 10px;
}

.geography, h1.title, h2.profile-text, .explanation, .description, .profile-comment p {  text-align: left; }
.option h1 {
	font-size: 70%;
}
.your-option .option, .option.confirmed {
	border: 2px dotted #333;
}

header:after { content: "Powered by TheBallot.org"; }

/* Feedback specifics */
.yourFeedback.has_user { display: block !important; }
.profile-comment p, .yourFeedback.has_user span { font-size: 130%; font-style: italic; display: block; color: black; float: none; }
