body.single .row .body, body.profile .row .body { display: block }
body.single .row, body.profile .row { border: 0 !important; background: none !important }
body.single .row.commentable h1.title::before, body.single .row.commentable h1.title::after,
body.profile .row.commentable h1.title::before, body.profile .row.commentable h1.title::after { content: ''; width: 0; height: 0; border: 0; }
body.single .row h1.title, body.single .row.commentable h1.title,
body.profile .row h1.title, body.profile .row.commentable h1.title { text-indent: 0; background: none; font-size: 60px; color: #d37a3c; text-align: center; cursor: default; }
body.single div.explanation, body.single .option div.blurb, body.single .option h1,
body.profile div.explanation, body.profile .option div.blurb, body.profile .option h1 { color: #d37a3c }
