<%- if controller_name != 'sessions' %>
	<div class="account">
		<%- if current_user.nil? %>
			<%= link_to "Sign in with Facebook", omniauth_authorize_path('user', :facebook) %><br />
		<% else %>
			<%= link_to image_tag(current_user.image || 'http://sc94.ameslab.gov/TOUR/alincoln.gif')+'Hey '+current_user.first_name, current_user.url, :target => '_blank' %>

			<%= link_to 'Sign out', destroy_user_session_path %>
		<% end -%>
	</div>
	
<% end -%>