<%- if controller_name != 'sessions' %>
	<div class="account">
		<%- if current_user.nil? %>
			<%= link_to "Sign in with Facebook", omniauth_authorize_path('user', :facebook), :style => 'margin-top:35px' %><br />
		<% else %>
			<%= link_to image_tag(current_user.image || asset_path('alincoln.gif') ), current_user.url, :target => '_blank' %>
			<%= link_to 'Logged in as '+current_user.first_name, current_user.url, :target => '_blank', :style => 'display: block; width: 160px' %>
			<br />
			<br />
			<%= link_to 'Sign out', destroy_user_session_path, :style =>' display: block;' %>
		<% end -%>
	</div>
	
<% end -%>